html {
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: scroll;
}

body {
	background: none;
	text-align: center;
	font-family: 'Slabo 27px', serif;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
}

h1 {
	font-size: 80px;
	text-shadow: 2px 2px 4px black;
	margin: 20px 0;
	width: 80%;
	border: 2px solid white;
}

h2 {
	font-size: 32px;
	text-shadow: 2px 2px 4px black;
	width: 60%;
}

h1, h2 {
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(0, 0, 0, .7);
}

p {
	font-size: 18px;
	background-color: gray;
	margin: 0;
}

a {
	text-shadow: 1px 1px 2px black;
	color: lightblue;
	text-decoration: none;
}

.project-title {
	width: 100%;
	font-size: 28px;
	color: white;
	text-shadow: 1px 1px 2px black;
	background-color: rgba(0, 0, 0, .7);
	margin: 10px 0;
}

.project-title-link {
	width: 75%;
}

.project-title:hover {
	text-decoration: underline;
	text-shadow: none;
	color: darkred;
}

nav {
	display: flex;
	flex-flow: column;
	position: fixed;
	top: 20px;
	left: 1%;
	z-index: 1;
}

.fa {
	padding: 20px;
	font-size: 50px;
	text-align: right;
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 2px black, 2px 2px 4px red, 3px 3px 6px yellow;
	padding-top: 0;
}

#linkedin:hover, #github:hover {
	color: darkblue;
	text-decoration: none;
	text-shadow: 2px 2px 4px white;
}

.limitheight {
	width: 100%;
	height: 100%;
	border: 1px solid white;
}

.limitheight:hover {
	border: 1px solid darkblue;
	filter: drop-shadow(0px 0px 10px darkblue);
}

.d-flex {
	display: flex;
}

.about-me {
	width: 80%;
	margin: 0 auto;
	border: 1px solid white;
}

.me {
	height: 100%;
	margin: 0;
	font-size: 18px;
}

.project-row {
	display: flex;
	align-items: center;
	width: 85%;
	margin: 10px auto;
}

.screenshot {
	width: 47.5%;
	margin-left: 2.5%;
}

.project-plus-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 47.5%;
	margin-right: 2.5%;
}

.project-info {
	width: 100%;
	background-color: gray;
	border: 1px solid white;
}



